@model WashCarLavaDevagar.Models.Lavagem

@{
    ViewData["Title"] = "Detalhes do Cadastro";
}

<h1>Detalhes do Cadastro</h1>

<div>
    <h4>Lavagem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoLavagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoLavagem.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataLavagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataLavagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorLavagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorLavagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescontoLavagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescontoLavagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Carro.Ano)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IDLavagem">Edit</a> |
    <a asp-action="Index"><img src="~/icones/icones/Voltar.png" width="20" height="20"></a>
</div>
